main {
    height: 100%;
    position: relative;
}

.heroimg {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: var(--border-radius);
    filter: brightness(1.1);
}

.hero-text {
    display: flex;
    border-top-right-radius: 50px;
    flex-direction: column;
    text-align: start;
    justify-content: start;
    position: absolute;
    bottom: 0.5%;
    background-color: var(--primary-color);
    padding: 64px;
    color: var(--text-color-light);
}

.hero-text h5 {
    font-size: var(--font-size-h1);
}

.hero-text p {
    font-size: var(--font-size-lg);
}

.btn {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    border: none;
    padding: 16px 32px;
    margin: 32px 0px;
    border-radius: 50px;
    width: max-content;
}


.section-contant {

    height: fit-content;
    padding: 64px;
    margin: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-contant h3 {
    font-size: var(--font-size-h3);
    color: var(--primary-color);
    padding: var(--padding);
}

.section-contant p {
    padding: var(--padding);
    font-size: var(--font-size-lg);
    color: var(--text-shade);
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.para1 {
    width: 60%;
    padding: var(--padding);
}

.divider img {
    width: 40%;
    padding: var(--padding);
}

@media (max-width: 768px) {
    .hero-text {
        padding: 32px;
        bottom: 0;
    }

    .hero-text h5 {
        font-size: var(--font-size-h2);
    }

    .hero-text p {
        font-size: var(--font-size);
    }

    .btn {
        padding: 12px 24px;
        margin: 16px 0px;
    }

    .divider {
        flex-direction: column;
        align-items: center;
    }

    .section-contant {
        padding: 32px;
        text-align: start;
        margin: 32px;
    }

    .section-contant h3 {
        font-size: var(--font-size-h3);
    }

    .section-contant p {
        font-size: var(--font-size);
    }
}